.movieSection {
    margin-bottom: 30px;
}

.movieSection h2 {
    margin: 0px 0px 0px 30px;
}

.movieSection--listarea {
    overflow-x: hidden;
    padding-left: 30px;
}

.movieSection--list {
    transition: all ease 0.5s;
}

.movieSection--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}

.movieSection--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}

.movieSection--item img:hover {
    transform: scale(1);
}

.navigate-left,
.navigate-right {
    font-size: 50px;
}

.movieSection--left,
.movieSection--right {
    position: absolute;
    width: 40px;
    height: 225px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
}

.movieSection--left {
    left: 0;
}

.movieSection--right {
    right: 0;
}

.movieSection:hover .movieSection--left,
.movieSection:hover .movieSection--right {
    opacity: 1;
}

@media (max-width: 760px) {
    .movieSection--left,
    .movieSection--right {
        opacity: 1;
    }
}
